<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maoye.mlh_slotmachine">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_LOGS" /><!-- 获取logcat日志 -->

 <!--   <uses-permission android:name="android.permission.RECORD_AUDIO" /> &lt;!&ndash; 允许程序录制音频 &ndash;&gt;
    <uses-permission android:name="android.permission.GET_TASKS"/>-->


    <application
        android:name="com.maoye.mlh_slotmachine.MlhApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".view.homeactivity.HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.goodsdetialsactivity.GoodsdetialsActivity" />
        <activity android:name=".view.loginactivity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".view.confirmorderactivity.ConfirmOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" >
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </activity>
        <activity android:name=".view.cartactivity.CartActivity" />
        <activity android:name=".view.h5activity.H5Activity" />
        <activity android:name=".view.adactivity.AdActivity" />
        <activity android:name=".view.printreceiptactivity.PrintReceiptActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.quickpayactivity.QuickpayActivity" />
        <activity android:name=".view.imgactivity.ImgActivity" />
        <activity android:name=".view.print_select_activity.PrintSelectActivity" />
        <activity android:name=".view.quickprintactivity.QuickprintActivity" />
        <activity android:name=".view.printsuccactivity.PrintsuccActivity" />
        <activity android:name=".view.goodsactivity.GoodsActivity" />
        <activity android:name=".view.searchgoodsactivity.SearchgoodsActivity" />
        <activity android:name=".view.mapguidesactivity.MapguidesActivity" />
        <activity android:name=".view.quickprintv2activity.Quickprintv2Activity" />
        <!--  <activity android:name=".view.mapguidesactivity.MapguidesActivity" />-->


        <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
            android:resource="@xml/device_filter" />

        <receiver android:name=".receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ShutdownBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

       <!-- <meta-data
            android:name="PGYER_APPID"
            android:value="4b6e8877dfcc2462bedb37dcf66b6d87" >
        </meta-data>-->


    </application>

</manifest>